<!doctype html>
<head>
  <title>Shopify Dev Challenge Fall 2022, Production Engineering</title>
</head>

<body>

Create inventory (enter name):
<form id="create_inventory">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="city_id">City ID:</label>
  <input type="text" name="city_id">
  <input type="submit">
</form>

<br>
  
Delete inventory (enter ID):
<form id="delete_inventory">
  <label for="id">ID:</label>
  <input type="text" name="id">
  <input type="submit">
</form>

<br>

Edit inventory (enter ID and new name):
<form id="edit_inventory">
  <label for="id">ID:</label>
  <input type="text" name="id">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="city_id">City ID:</label>
  <input type="text" name="city_id">
  <input type="submit">
</form>

<br>
  
<button id="view_inventory">View inventory</button>
<div id="inventory"></div>

<br>
  
Create city (enter name, longitude, and latitude):
<form id="create_city">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="name">Longitude:</label>
  <input type="text" name="longitude">
  <label for="name">Latitude:</label>
  <input type="text" name="latitude">
  <input type="submit">
</form>

<br>
  
<button id="view_cities">View cities</button>
<div id="cities"></div>

</body>

<script type="text/javascript" src="{{
  url_for('static', filename='index.js') }}"></script>
</html>